*{
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.65em;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.2em;
    padding: 2%;;
}
h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2%;
    color: #11999E;
    font-size: 1.5em;
}
.slogan{
    line-height: 4.5rem;
    font-size: 2.2em;
    color: #66BFBF;
}
.top-container{
    background-color: #C8DBBE;
    padding-top: 100px;
    position: relative;
    height: 100vh;
}
nav{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: #749F82;
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 3% 0;
    margin-right: 10px;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    text-decoration: none;
    font-size: 1.3em;
    padding: 0.5em;
    color: #EAF6F6;
    
}
nav li:hover{
    background-color: #251B37;
    transition: ease-out 0.3s;
    
}
.top-cloud{
    position: absolute;
    top: 50px;
    left: 300px;
    
}
.bottom-cloud{
    position: absolute;
    right: 300px;
    bottom: 400px;
    
}
.mountain{
    position: absolute;
    left: 20%;
    bottom: 0;
    height: 75%;
    /* display: none; */
}
.profile{
    padding: 5%;

}
hr {
    border: dotted #7e8181 8px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
  }
.image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 2%;
}
.profile p{
    color: #40514E;
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.skill-row{
    margin: 100px auto;
    text-align: left;
    width: 50%;

}
.one{
    float: left;
    display: block;
    margin-right: 2%;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}
.two{
    float: right;
    display: block;
    margin-right: 2%;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}
.contact-me{
    margin-bottom: 2%;
}
.contact-me p{
    padding: 2%;
    margin: 15px auto;
    width: 50%;
    text-align: center;
}
button a{
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
}
button{
    background-color: #66BFBF;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    
}
.bottom-container{
    height: 5%;
    background-color: #66BFBF;
    padding: 1.5%;
    margin-top: 50px;
}
.footer-link{
    text-decoration: none;
    padding: 2%;
    margin-bottom: 10px;
    color: #11999E;
    display: inline-block;
}
.bottom-container p{
    color: #EAF6F6;
    font-size: 0.8em;
}
.menu{
    height: 20px;
    position: absolute;
    top: 50%;
    right: 5%;
    display: none;
}
.show{
    display: block;
}
@media screen and (max-width: 480px) {
    h1{
        font-family: 'Sacramento', cursive;
        font-size: 3.5em;
        color: #66BFBF;
    }
    .slogan{
        line-height: 4.5rem;
        font-size: 1.2em;
        color: #66BFBF;
    }
    .top-container{
        background-color: #C8DBBE;
        padding-top: 100px;
        position: relative;
        height: 75vh;
    }
    .mountain{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
    }
    .bottom-cloud{
        position: absolute;
        left: 100px;
        bottom: 300px;
        
    }
    nav{
        position: absolute;
        top: 54.5%;
        right: 6.5%;
        display: none;
    }
    nav li{
        display: block;
        margin-right: 0;
    }
    nav li a{
        font-size: 1.1em;
    }
    #menu{
        background-color: transparent;
        height: 35px;
        position: absolute;
        top: 50%;
        right: 2%;
        cursor: pointer;
    }
    .menu{
        height: 20px;
        display: block;
        
    }
}
@media screen and (max-width: 400px) {
    h1{
        font-family: 'Sacramento', cursive;
        font-size: 3.5em;
        color: #66BFBF;
    }
    .slogan{
        line-height: 4.5rem;
        font-size: 1.2em;
        color: #66BFBF;
    }
    .top-container{
        background-color: #C8DBBE;
        padding-top: 100px;
        position: relative;
        height: 75vh;
    }
    .mountain{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
    }
    .bottom-cloud{
        display: none;
        
    }
    nav{
        position: absolute;
        top: 54.5%;
        right: 6.5%;
        display: none;
    }
    nav li{
        display: block;
        margin-right: 0;
    }
    nav li a{
        font-size: 1.1em;
    }
    #menu{
        background-color: transparent;
        height: 35px;
        position: absolute;
        top: 50%;
        right: 2%;
        cursor: pointer;
    }
    .menu{
        height: 20px;
        display: block;
        
    }
}